<h1>Buscador de prendas de temporada</h1>
<hr>

<form action="/resultados" method="GET">

    Prenda: <input type="text" name="clothe">

    <br><br>

    Temporada: <input type="text" name="season">

    <br><br>

    Color: <input type="text" name="color">

    <br><br>

    Talla: <input type="text" name="size">

    <br><br>

    <input type="submit" value="Mostrar resultados">

</form>